<div class="center hero-unit">
  <h1>Welcome to 100 Beliefs</h1>
  <p>Start making a list of your beliefs... </p>
  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
 </div>
 <%= link_to image_tag("bike.jpeg", alt: "Bike"), root_path %>