<footer class="footer">
  <small>
    100 Beliefs by Medha Ghatikesh
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://ghatikesh.com">Blog</a></li>
    </ul>
  </nav>
</footer>